html {
  font-size: 100%;
}

body {
  overflow: hidden;
  height: 100vh;
  font-size: 1rem; font-family: Source Sans Pro;
  background-color: #c0c0c0;
  background-image: url(bg.jpg); background-position: 0% 50%; background-repeat: no-repeat; background-size: cover;
}



table {
  border: none; width: auto; margin: 0 auto;
  border-collapse: collapse;
}

td {
  border: none;
  padding: 0;
  text-align: center;
}

.container {
  position: relative; overflow: hidden;
  width: 100%; max-width: 1000px;
  margin: 0 auto; padding: 24px 24px 12px 24px;
  box-sizing: border-box;
}

.card {
  background-color: #69f; background-size: cover; background-repeat: no-repeat;
  transform: rotateY(180deg); transition: transform 0.15s;
  box-shadow: -1px 1px 1px 0px #000;
  font-size: 1.25rem; font-weight: 700;
  text-shadow: 1px 1px 2px #111;
  cursor: pointer;
}

.card.disabled {
  cursor: default;
}

.card.loading {
  visibility: hidden;
  transform: rotateY(135deg);
}

.card.back {
  background-image: none !important;
  color: transparent !important; text-shadow: none !important;
}

.card.face {
  transform: rotateY(0deg);
  box-shadow: 0px 0px 0px 0px #000;
}

.row {
  width: 100%; max-width: 1000px;
  margin: 0 auto;
}

.messageContainer {
  display: none; position: absolute; overflow: hidden;
  top: 30vh; right: 5vh; left: 5vh; height: 40vh;
  padding: 24px;
  background-color: #eee; color: #111;
  box-shadow: 1px 1px 1px rgba(32, 32, 32, .5);
  font-family: Courgette; font-size: 1.5rem;
}


.messageContainer > img {
  display: block; float: left;
  margin-right: 48px;
}

.btnContinue {
  width: 100%; margin: 24px auto;
  background-color: #69f; padding: 12px 8px; text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.btnContinue:hover {
  background-color: #9bf;
}

.infoContainer {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%; height: 72px;
  /*background-color: #eee;*/ color: #111;
  font-weight: 600;
}

table.info {
  width: 100%; max-width: 1000px;
  margin: 0 auto;
}


.info th {
  width: 25%; height: 24px;
  padding-top: 2px;
  vertical-align: top;
  box-sizing: border-box;
}

.info td {
  height: 48px;
  color: #fff; /*text-shadow: 1px 1px 2px #000;*/
  font-size: 1.5rem; font-weight: 700;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  opacity: .75;
}

.info .moves { background-color: #369; }
.info .pairsFound { background-color: #47a; }
.info .pairsLeft { background-color: #58b; }
.info .time { background-color: #69c; }